---
import { css } from "@style/css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<h1 class={css({ fontSize: "4xl", fontWeight: "bold", color: "red.500" })}>
		Hello World
	</h1>
</BaseLayout>
